<div class="mt-4">
<div class="row">
    <div class="col-md-4 offset-md-4">
        
    <h3>Add product</h3>
    <form method="POST" action="/products/create">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input  class="form-control" name="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">price</label>
    <input class="form-control" name="price">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">tags</label>
    <input  class="form-control" name="tags">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">images</label>
    <input class="form-control" name="images">
  </div>
  
  <button type="submit" class="btn btn-primary">Ađd</button>
</form>
</div>

    </div>
</div>