<div class="mt-4">
    <div class="row">
             {{#each allProducts}}
                      <div class="col-sm-6 col-lg-4">

                <div class="card" style="width: 18rem;">
            <img src="{{this.images}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.price}}</p>
                                <a href="/products/{{this.slug}}/edit" class="btn btn-primary">Edit</a>

                <a href="/products/{{this.slug}}" class="btn btn-primary">Detail</a>
            </div>
            </div>
        </div>
  {{/each}}

    </div>
</div>
    
 